<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/boldog.css' %}"/>
   <link href="https://fonts.googleapis.com/css?family=Kalam|Patrick+Hand" rel="stylesheet">
</head>
<body id="welcome">

<br><br><br><br>


 <div class="container" align="center">
<h1> </h1>
<br><br>
    <h3>Pár kérdésre kéne válaszolni. <br> Ha megadod a helyes választ (fontos, hogy csak kis betűket használj) akkor <br>
    automatikusan kapod a következő kérdést, <br> ha nem akkor a válaszod kitörlődik és maradsz az adott kérdésnél és újra próbálhatod maximum 3x.</h3>
     <br><br>
     <h3>Ha megcsinálod, akkor talán kapsz ajándékot is!</h3>
        <br>

         <h3>Viszont ha nem akkor csak két pofont :P!</h3>
        <br>
     <br><br>

<a href="{% url 'boldog:q1'%}"><button type="button" class="btn btn-primary">NA HALADJUNK!!!</button></a>

     <br><br>
    <img src="{% static 'images/dancing.gif' %}"/>
</div>


</body>
<script
  src="http://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</html>



